/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css';
@import "~bootstrap/dist/css/bootstrap.css"; 

body {
    font: 100%;
    font-family: montserrat;
}
